/*------------------------------------*\
    Styles for: _destinations.scss
    Created: 04/12/16
    By: Gabriel Mule <gabemule@gmail.com>
\*------------------------------------*/
.destinations {
    background-color: #4b4b4b;
    display: inline-block;
    padding-bottom: 50px;
    padding-top: 25px;
    width: 100%;
    h2 {
        margin-top: 50px;
        font-family: 'Montserrat';
        font-size: em(44px);
        font-weight: bold;
        text-align: center;
        color: #ffffff;
    }
    .mosaic {
        .mosaic-options {
            padding: 0;
            display: flex;
            justify-content: center;
            flex-direction: row;
            margin: 30px 0;
            width: 100%;
            select {
                display: none;
            }
            li {
                list-style: none;
                float: left;
                cursor: pointer;
                
                font-family: 'Source Sans Pro';
                font-size: em(18px);
                line-height: 1.5;
                letter-spacing: 1px;
                color: rgba(255, 255, 255, 0.87);
                
                &:not(:last-child) {
                    margin-right: 10%;
                }
            }
            .active {
                font-family: 'Source Sans Pro';
                font-size: em(18px);
                font-weight: bold;
                line-height: 1.5;
                letter-spacing: 1px;
                color: #ffffff;
            }
        }
        .mosaic-view {
            padding: 0;
            li {
                div {
                    margin-bottom: 3%;
                    img {
                        opacity: 0.95;
                        &:hover {
                            opacity: 1;
                        }
                    }
                }
                &:not(.active) {
                    display: none;
                }
            }
        }
    }
}
/* Medium screens */
@media all and (max-width: 800px) {
    .destinations {
        h2 {
            font-size: em(20px);
        }
        .mosaic {
            .mosaic-options {
                flex-direction: column;
                li {
                    display: none;
                }
                select {
                    display: block;
                    outline: none;
                    width: 168px;
                    height: 24px;
                    border-radius: 48px;
                    border: solid 1px rgba(255, 255, 255, 0.87);
                    background: transparent;
                    color: white;
                    text-transform: uppercase;
                    margin: 0 auto;
                    
                    font-family: 'Source Sans Pro';
                    font-size: em(12px);
                    font-weight: normal;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 1.33;
                    color: #ffffff;
                    
                    background: url('../images/dropdown-icon.png') no-repeat 147px 8px transparent;
                }
            }
            .mosaic-view {
                li  {
                    div {
                        margin-bottom: 7%;
                    }
                }
            }
        }
    }
}
/* Small screens */
@media all and (max-width: 500px) {
    
}