/*------------------------------------*\
    Styles for: _footer.scss
    Created: 04/12/16
    By: Gabriel Mule <gabemule@gmail.com>
\*------------------------------------*/
footer {
    background-color: #4b4b4b;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    padding-top: 1.5%;
    width: 100%;
    
    .contacts {
        h3 {
            font-family: 'Source Sans Pro';
            font-size: em(18px);
            font-weight: bold;
            line-height: 1.33;
            letter-spacing: 1px;
            text-transform: uppercase;
            color: #ffffff;
        }
        p {
            opacity: 0.5;
            font-family: 'Source Sans Pro';
            font-size: em(14px);
            line-height: 1.5;
            color: #d2d2d2;
        }
    }
    
    .follow-us {
        h3 {
            font-family: 'Source Sans Pro';
            font-size: em(18px);
            font-weight: bold;
            line-height: 1.33;
            letter-spacing: 1px;
            text-transform: uppercase;
            color: #ffffff;
        }
        ul {
            padding: 0;
            li {
                list-style: none;
                float: left;
                &:not(:last-child) {
                    margin-right: 20%;
                }
            }
        }
        .icon {
            opacity: 0.85;
            cursor: pointer;
            &:hover {
                opacity: 1;
            }
        }
        .pinterest {
            @include sprite($pinterest);
        }
        .twitter {
            @include sprite($twitter);
        }
        .facebook {
            @include sprite($facebook);
        }
    }
    
    .about-us {
        h3 {
            font-family: 'Source Sans Pro';
            font-size: em(18px);
            font-weight: bold;
            line-height: 1.33;
            letter-spacing: 1px;
            text-transform: uppercase;
            color: #ffffff;
        }
        p {
            opacity: 0.5;
            font-family: 'Source Sans Pro';
            font-size: em(14px);
            line-height: 1.5;
            color: #d2d2d2;
        }
    }
    
    .sub-footer {
        margin-top: 2%;
        border-top: 1px solid #7d7d7d;
        text-align: center;
        
        ul {
            display: flex;
            justify-content: center;
            padding: 2% 0;
            margin: 0;
            
            li {
                
                display: inline-block;
                float: left;
                list-style: none;
                cursor: pointer;
                
                font-family: 'Source Sans Pro';
                font-size: em(18px);
                font-weight: bold;
                line-height: 1.33;
                letter-spacing: 1px;
                text-transform: uppercase;
                color: #ffffff;
                
                &:hover {
                    text-decoration: underline;
                }
                
                &:not(:last-child) {
                    margin-right: 5%;
                }
            }
        }
        
        .copy {
            position: absolute;
            top: 50%;
            margin-top: -0.75em;
            
            font-family: 'Source Sans Pro';
            font-size: em(16px);
            line-height: 1.5;
            color: #999;
        }
        
        .btn-back {
            position: absolute;
            top: 25%;
            right: 0;
            p {
                //display: inline-block;
                display: none;
                float: left;
                line-height: 2em;
                margin-right: 15px;
            }
            .back-to-top {
                cursor: pointer;
                float: left;
                padding: 7px 10px;
                border-radius: 4px;
                background-color: #f44336;
                text-align: center;
                span {
                    display: inline-block;
                    @include sprite($go-to-top);
                }
            }
            
        }
        
    }
    
}

/* Medium screens */
@media all and (max-width: 800px) {
    footer {
        .contacts {
            h3 {
                font-size: em(12px);
            }
            p {
                font-size: em(11px);
            }
        }
        .follow-us {
            h3 {
                font-size: em(12px);
            }
            p {
                font-size: em(11px);
            }
        }
        .about-us {
            clear: both;
            h3 {
                font-size: em(12px);
            }
            p {
                font-size: em(11px);
            }
        }
        .sub-footer {
            display: block;
            padding-top: 2%;
            ul {
                display: flex;
                justify-content: center;
                li {
                    font-size: em(11px);
                }
            }
            .copy {
                position: relative;
                float: left;
                line-height: 3.5em;
                font-size: em(11px);
            }
            .btn-back {
                position: relative;
                float: right;
                p {
                    display: inline-block;
                    font-family: 'Source Sans Pro';
                    font-size: em(11px);
                    line-height: 2;
                    text-align: right;
                    color: #999;
                }
                .back-to-top {
                    padding: 2px 5px;
                }
            }
        }
    }
}
/* Small screens */
@media all and (max-width: 500px) {
    
}