/*------------------------------------*\
    Styles for: _header.scss
    Created: 10/09/15
    By: Gabriel Mule <gabemule@gmail.com>
\*------------------------------------*/
header {
    background-color: #4b4b4b;
    font-family: 'Source Sans Pro', sans-serif;
    width: 100%;
    .logo {
        display: inline-block;
        cursor: pointer;
        margin: 60px 0;
        max-width: 225px;
    }
    .menu {
        display: inline-block;
        color: white;
        width: 70%;
        float: right;
        .mobile-btn {
            display: none;
        }
        ul {
            margin: 67px 0;
            text-align: right;
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-end;
            li {
                display: inline-block;
                cursor: pointer;
                margin-right: 3%;
                font-family: 'Source Sans Pro';
                font-size: em(18px);
                font-style: normal;
                font-stretch: normal;
                letter-spacing: 1px;
                text-transform: uppercase;
                &:hover {
                    text-decoration: underline;
                }
                &.highlight {
                    cursor: pointer;
                    border: 2px solid;
                    padding: 10px 25px;
                    margin: -10px 0;
                    border-radius: 50px;
                    font-family: 'Montserrat';
                    font-size: em(14px);
                    letter-spacing: 0.8px;
                    text-align: center;
                    &:hover {
                        color: #4b4b4b;
                        background-color: white;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}
/* Medium screens */
@media all and (max-width: 800px) {
    header {
        .logo {
            float: left;
            margin: 8% 0;
        }
        .menu {
            width: 50%;
            margin: 5% 0;
            .mobile-btn {
                display: inline-block;
                float: right;
                padding: 10% 5%;
                cursor: pointer;
                img {
                    float: right;
                }
            }
            ul {
                display: none;
                float: right;
                clear: both;
                margin: 20px 0;
                li {
                    display: block;
                    float: right;
                    clear: both;
                    &:not(:first-child) {
                        margin-top: 2%;
                    }
                    &.highlight {
                        margin-top: 5%;
                        white-space: nowrap;
                    }
                }
            }
        }
    }
}
/* Small screens */
@media all and (max-width: 500px) {
    header {
        .logo {
            width: 50%;
        }
    }
}