/*------------------------------------*\
    Styles for: _highlight-banner.scss
    Created: 04/12/16
    By: Gabriel Mule <gabemule@gmail.com>
\*------------------------------------*/
.highlight-banner {
    position: relative;
    background: url('../images/background.png') no-repeat center center fixed transparent;
    //display: inline-block;
    height: 100%;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    &:before {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        mix-blend-mode: color;
        background-color: rgba(244,67,54,1);
        z-index: 1;
    }
    .content {
        position: absolute;
        text-align: center;
        z-index: 9;
        h2 {
            font-family: 'Montserrat';
            font-size: em(44px);
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.09;
            letter-spacing: -1.6px;
            text-align: center;
            color: #4b4b4b;
            width: 100%;
        }
        span {
            display: inline-block;
            font-family: 'Source Sans Pro';
            font-size: em(16px);
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 3.5;
            text-align: center;
            margin-bottom: 15px;
            color: #4b4b4b;
            width: 100%;
        }
        input[type="text"] {
            background: transparent;
            width: 270px;
            height: 48px;
            border-radius: 4px;
            border: solid 1px #4b4b4b;
            padding: 0 10px;
            font-family: 'Source Sans Pro';
            font-size: em(16px);
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.69;
            color: #000;
            outline: none;
            &:focus {
                background: rgba(255,255,255,0.7);
                font-weight: bold;
            }
        }
        input[type="button"] {
            background: transparent;
            width: 198px;
            height: 48px;
            border-radius: 50px;
            border: solid 2px #4b4b4b;
            outline: none;
            margin-left: 15px;
            font-family: 'Montserrat';
            font-size: 16px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            letter-spacing: 1px;
            text-align: center;
            text-transform: uppercase;
            color: #4b4b4b;
            &:hover {
                color: white;
                background-color: #4b4b4b;
            }
        }
        .category-btn {
            margin-top: 50px;
            ul {
                display: flex;
                flex-direction: row;
                justify-content: center;
                padding: 0;
                li {
                    list-style: none;
                    width: 80px;
                    height: 80px;
                    border-radius: 100%;
                    background-color: #4b4b4b;
                    float: left;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    opacity: 0.85;
                    &:hover {
                        opacity: 1;
                    }
                    &:not(:last-child) {
                        margin-right: 10%;
                    }
                }
            }
            .icon {
                margin: 0;
            }
            .plane {
                @include sprite($plane);
            }
            .case {
                @include sprite($case);
            }
            .wallet {
                @include sprite($wallet);
            }
        }
    }
}
/* Medium screens */
@media all and (max-width: 800px) {
    .highlight-banner {
        .content {
            h2 {
                font-size: em(20px);
                width: 50%;
                margin: 0 auto;
            }
            span {
                font-size: em(11px);
            }
            input[type="text"] {
                width: 190px;
                height: 32px;
                opacity: 0.8;
                border-radius: 3px;
                border: solid 1px #4b4b4b;
            }
            input[type="button"] {
                width: 190px;
                height: 32px;
                font-size: em(11px);
                border-radius: 50px;
                border: solid 2px #4b4b4b;
                margin-top: 5%;
                margin-left: 0;
            }
            .category-btn {
                ul {
                    padding: 0;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    li {
                        width: 50px;
                        height: 50px;
                        &:not(:last-child) {
                            //margin-right: 70px;
                        }
                    }
                }
                .icon {
                    zoom: 0.7;
                }
            }
        }
    }
}
/* Small screens */
@media all and (max-width: 500px) {}