/*------------------------------------*\
    Styles for: _reviews.scss
    Created: 04/12/16
    By: Gabriel Mule <gabemule@gmail.com>
\*------------------------------------*/
.reviews {
    .slider {
        padding-top: 8%;
        padding-bottom: 8%;
        .slide {
            text-align: center;
            float: left;
            margin-bottom: 50px;
            width: 100%;
            img {
                border-radius: 100%;
                border: 8px solid red;
                display: inline-block;
            }
            h3 {
                font-family: 'Source Sans Pro';
                font-size: 18px;
                font-weight: bold;
                line-height: 1.5;
                text-align: center;
                color: #4b4b4b;
            }
            h4 {
                font-family: 'Source Sans Pro';
                font-size: 18px;
                font-style: italic;
                line-height: 1.5;
                text-align: center;
                color: #4b4b4b;
            }
            p {
                font-family: 'Source Sans Pro';
                font-size: 16px;
                line-height: 1.5;
                text-align: center;
                color: #4b4b4b;
                padding: 0 25%;
            }
        }
        .slick-arrow {
            outline: none;
            border: none;
            text-indent: -9999em;
            width: 64px;
            height: 64px;
            object-fit: contain;
            top: 50%;
            margin-top: -32px;
            position: absolute;
            z-index: 9;
        }
        .slick-next {
            right: 0;
            background: url('../images/next.png') no-repeat center transparent;
        }
        .slick-prev {
            left: 0;
            background: url('../images/prev.png') no-repeat center transparent;
        }
        .slick-dots {
            display: flex;
            justify-content: center;
            padding: 0;
            li {
                list-style: none;
                button {
                    width: 14px;
                    height: 14px;
                    border-radius: 7.5px;
                    border: solid 2px #f44336;
                    background: transparent;
                    text-indent: -9999em;
                    outline: none;
                }
                &.slick-active {
                    button {
                        width: 14px;
                        height: 14px;
                        border-radius: 7.5px;
                        background-color: #f44336;
                        border: solid 2px #f44336;
                    }
                }
                &:not(:last-child) {
                    margin-right: 2%;
                }
            }
            
        }
    }
}
/* Medium screens */
@media all and (max-width: 800px) {
    .reviews {
        .slider {
            .slide {
                img {
                    width: 87.7px;
                    height: 87.7px;
                    object-fit: contain;
                    border: 2px solid red;
                }
                h3 {
                    font-size: em(12px);
                }
                h4 {
                    font-size: em(12px);
                }
                p {
                    font-size: em(11px);
                }
            }
            .slick-arrow {
                display: none !important;
            }
        }
    }
}